[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain-openai = "*"
textstat = "*"
evaluate = "*"
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
mlflow = {extras = ["extras", "genai"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
